.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.input {
    height: 30px;
    width: 80%;
}

.button {
    width: 100px;
    height: 30px;
}